**Pedro Luiz da Costa** - 
**Rafael Libertini** - 
**Gabriel Zezze**

In [35]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import json
from PIL import Image
import os

In [115]:
def convert_to_pd(tabela):
    tabela = tabela[tabela.recognized]
    tabela['timestamp'] = pd.to_datetime(tabela.timestamp)
    tabela['drawing'] = tabela['drawing'].apply(json.loads)
    return tabela

In [ ]:
airplane = pd.read_csv('airplane.csv')
a1 = convert_to_pd(airplane)

In [105]:
def convert_to_array(tabela):
    
    tudo_flat_arr = []

    for i, drawing in enumerate(tabela.drawing):
        for x,y in drawing:
            plt.plot(x, -np.array(y), lw=3, color='black')
            plt.axis('off')
            try:
                plt.savefig('fotos/{}/{}.png'.format(tabela.word[0],tabela.word[0]), dpi=10)
            except:
                os.makedirs('fotos/{}'.format(tabela.word[0]))
                plt.savefig('fotos/{}/{}.png'.format(tabela.word[0],tabela.word[0]), dpi=10)
        plt.gcf().clear()

        img = Image.open('fotos/{}/{}.png'.format(tabela.word[0],tabela.word[0])).convert('RGBA')
        arr = np.array(img)

        flat_arr = []
        for i in arr:
            for e in i:
                media = np.mean(e[:3])/255
                flat_arr.append(media)
        tudo_flat_arr.append(flat_arr)

    tabela['array'] = tudo_flat_arr

In [113]:
convert_to_array(a2)
a2

/Users/Pedro/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,countrycode,drawing,key_id,recognized,timestamp,word,array
0,US,"[[[167, 109, 80, 69, 58, 31, 57, 117, 99, 52, ...",5152802093400064,True,2017-03-08 21:12:07.266040,airplane,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ..."
2,US,"[[[90, 88, 95, 104, 112, 122], [65, 31, 12, 0,...",6577010312740864,True,2017-03-23 02:08:35.229980,airplane,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ..."
3,US,"[[[82, 49, 15, 4, 0, 5, 30, 85, 89, 93, 112, 1...",5643224746033152,True,2017-03-10 00:35:17.531970,airplane,"[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ..."